/* Global styles */
/*page*/

.page{ 
    font-family: "Raleway", sans-serif;
} 
ul,
li {
    list-style: none;
   
} 

/*header */
.logo-head{
    color: #4D5AE5;
}
.logo-header {
    font-style: italic;
    color: #2E2F42;
}
.section-address{
    font-style: normal;
}
/* Portfolio */

.Portfolio {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em; 
    color: var(--navy-blue);
}
/*contact */
.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-style: normal;
}
/* Hero */
.Hero{
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    color: rgb(255, 255, 255);
    }
.hero-h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-btn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    color: #F4F4FD;
    background-color: #4D5AE5;
   cursor: pointer;
}
/*benefits*/

.benefits { 
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;

}
/*what we are doing*/
.whatarewedoing{font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}
/*Our Team*/
.ourteam-h3{
    font-weight:700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
/*footer*/
.footer {
    display: flex;
    flex-direction: column;;
    margin: 0 auto;
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
    color: rgb(255, 255, 255); 
    }
.logo{

    color:#4D5AE5 ;
}
.logo-footer{
    font-style: italic;
    color: #F4F4FD;
}
.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
   }
/*google fonts */
/*font-family: "Raleway", sans-serif;*/