/* Global styles */
/*page*/

.page{ 
    font-family: "Raleway", sans-serif;
} 
ul, li, a {
    color: #2E2F42;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.section-address {
    font-style: normal;
}


/*header */
.logo-head{
    color: #4D5AE5;
}
.logo-header {
    font-style: italic;
    color: #2E2F42;
}

.section-address{
    text-decoration: none;
    color:black
}
/*contact */
.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-style: normal;
}
/* Hero */
.Hero{
    width: 1550px;
    height: 600px;
    background-color: #2E2F42;
    color: rgb(255, 255, 255);
    }
.hero-h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-btn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    color: #F4F4FD;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: 2s;
    justify-content: center;
    align-items: center;         
    border: 1px solid #E7E9FC;   
}
.hero-btn:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    border-radius: 90%;
    transition: 0,5s;
}
/*benefits*/

.benefits { 
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;

}
/*what we are doing*/
.whatarewedoing{font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}
/*Our Team*/
.ourteam-h3{
    font-weight:700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
/*footer*/
.footer {
    display: flex;
    flex-direction: column;;
    margin: 0 auto;
    width: 1550px;
    height: 156px;
    background-color: #2E2F42;
    color: rgb(255, 255, 255); 
    }
.logo{

    color:#4D5AE5 ;
}
.logo-footer{
    font-style: italic;
    color: #F4F4FD;
}
.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
          
    
   }
/*google fonts */
/*font-family: "Raleway", sans-serif;*/
/* Portfolio */
.Portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em; 
    color: #2E2F42;
}
/*Portfolio Filter */
.portfolio-filter{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    letter-spacing: 0.04em;
}

/* Buttons */
.button-all {
    background-color: #F4F4FD;
    color: #4D5AE5;
    width: 69px;
    height: 48px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;         
    border: 1px solid #E7E9FC; 
    transition: 1s;    
}
.button-all:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    border-radius: 90%;
    transition: 2s;
}
.button-web-site{ 
    background-color: #F4F4FD;
    color: #4D5AE5;
    width: 117px;
    height: 48px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;         
    border: 1px solid #E7E9FC;
    transition: 2s;        
}
.button-web-site:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    cursor: pointer;
    border-radius: 95%;
    transition: 2s;
}
.button-app{
    background-color: #F4F4FD;
    color: #4D5AE5;
    line-height: 150%;
    width: 78px;
    height: 48px;
    margin: 0 auto;
    display: block;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;         
    border: 1px solid #E7E9FC;   
      
}
.button-app:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    cursor: pointer;
    border-radius: 90%;
    transition: 1s;
}
.button-design {
    background-color: #F4F4FD;
    color: #4D5AE5;
    text-align: left;
    line-height: 100px;
    width: 78px;
    height: 48px;
    margin: 0 auto;
    display: block;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    letter-spacing: 0.04em;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;         
    border: 1px solid #E7E9FC;     
}
.button-design:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    cursor: pointer;
    border-radius: 90%;
    transition: 1s;
}
.button-marketing{
    background-color: #F4F4FD;
    color: #4D5AE5;
    line-height: 150%;
    width: 126px;
    height: 48px;
    margin: 0 auto;
    display: block;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    letter-spacing: 0.04em;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;         
    border: 1px solid #E7E9FC;     
}
.button-marketing:hover {
    background-color: #404BBF;
    color: #F4F4FD;
    cursor: pointer;
    border-radius: 90%;
    transition: 1s;
} 

/* Team Member */
.portfolio-item {   
    width: 360px;
    height: 300px;
}
